body {
    width: 100%;
    height: 100vh;
    margin: 0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .form-container {
            background-color: whitesmoke;
            padding: 20px 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
        }

  .quote-container {
      border: 1px solid black;
      border-radius: 4px;
      padding: 5px;
      background-color: lightgray;
      margin: 10px;
      display: block;
      text-align: center;
  }
  
  h2 {
            margin-top: 10px;
            color: solid black;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            color: gray;
        }

        input[type="text"],
        input[type="number"] {
            width: 100%;
            padding: 15px;
            border: 1px solid black;
            border-radius: 10px;
            box-sizing: border-box; /* Ensures padding doesn't increase width */
        }
        button {
            width: 100%;
            padding: 15px;
            background-color: violet;
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: blue;
        }